main{
  margin: 17px;
}

.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  text-decoration: none;
  text-align: center;
  width: 33.3%;
}
.navbar li{
  float: left;
}  
